:root {
    --fd-primary: #005A9C;
    --fd-warning: #FFC107;
    --fd-danger: #ff4f70;
    --fd-anomaly-row: #fff2f6;
}

/* Custom bootstrap theme color */
.bg-fd-primary {
    background: var(--fd-primary) !important;
}

.bg-fd-warning {
    background: var(--fd-warning) !important;
}

.bg-fd-danger {
    background: var(--fd-danger) !important;
}

.text-fd-primary {
    color: var(--fd-primary) !important;
}

.text-fd-warning {
    color: var(--fd-warning) !important;
}

.text-fd-danger {
    color: var(--fd-danger) !important;
}

.btn-fd-primary {
    background: var(--fd-primary);
    color: #fff;
    border: none;
}

.btn-fd-primary:hover,
.btn-fd-primary:focus {
    background: #003c6e;
    color: #fff;
}

.table-fd-primary>tr>th,
.table-fd-primary>th {
    background: var(--fd-primary);
    color: #fff;
}

.table-fd-warning>tr>th,
.table-fd-warning>th {
    background: var(--fd-warning);
    color: #333;
}

.table .anomaly-row {
    background: var(--fd-anomaly-row) !important;
    color: var(--fd-danger) !important;
    font-weight: bold;
    animation: highlightAnomaly 1.5s;
}

@keyframes highlightAnomaly {
    from {
        background: #ffe5ee;
    }

    to {
        background: var(--fd-anomaly-row);
    }
}

.card {
    border-radius: 1.1rem;
}

header,
footer {
    border-radius: 0 0 1.1rem 1.1rem;
}

@media (max-width: 700px) {

    header,
    footer {
        border-radius: 0;
    }

    .card {
        border-radius: 0.7rem;
    }
}